# Co-Occurrence Matrix

In [38]:
# sklearn countvectorizer
from sklearn.feature_extraction.text import CountVectorizer

all_text = ['Tiger animal eat meat', 'Lion animal eat meat' ]
# Convert a collection of text documents to a matrix of token counts
cv = CountVectorizer(ngram_range=(2,2), stop_words = 'english')
# matrix of token counts
X = cv.fit_transform(all_text)
#print(X, end='===========')
#print(X.T)
Xc = (X.T * X) # matrix manipulation
print(Xc)
Xc.setdiag(0) # set the diagonals to be zeroes as it's pointless to be 1

  (2, 0)	1
  (1, 0)	2
  (0, 0)	2
  (3, 0)	1
  (2, 1)	1
  (1, 1)	2
  (0, 1)	2
  (3, 1)	1
  (2, 2)	1
  (1, 2)	1
  (0, 2)	1
  (1, 3)	1
  (0, 3)	1
  (3, 3)	1

In [39]:
import pandas as pd
names = cv.get_feature_names() # This are the entity names (i.e. keywords)
df = pd.DataFrame(data = Xc.toarray(), columns = names, index = names)
display(df)

C:\Users\RAMU\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

              animal eat  eat meat  lion animal  tiger animal
animal eat             0         2            1             1
eat meat               2         0            1             1
lion animal            1         1            0             0
tiger animal           1         1            0             0